* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, 'Montserrat' ;
}

body {
    background-blend-mode: luminosity;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(248, 247, 245);
}


.container {
    background-color:rgb(245, 206, 167);
    padding: 40px;
    opacity: 20;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(204, 115, 224, 0.1);
    max-width: 400px;
    width: 100%;
}

.calculator {
    background-color:rgb(173, 171, 171);
    padding: 10px;
    opacity: 20;
    align-content: center;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(204, 115, 224, 0.1);
    max-width: 300px;
    width: 100%;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.calculator label {
    margin-bottom: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.userInput {
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(69, 41, 4);
    color: burlywood;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(37, 21, 0);
}

.results {
    text-align: center;
}

.results h2 {
    margin-bottom: 15px;
}

.results p {
    font-size: 18px;
    margin-bottom: 10px;
}

@media screen and (min-width: 1350px) {
    .card {
      width: 64%;
      flex-direction: row;
      border-radius: 2.5rem;
      align-items: stretch;
      padding: 3.4rem;
      gap: 1.5rem;
      box-shadow:0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 30px rgba(0,0,0,0.05);
  
}
}